*{
    box-sizing: border-box;
    font-family: 'Quattrocento Sans', sans-serif;
}



header{
    background-color: #1d2126;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.container{
    margin: 15px;
    padding: -15px;
    width: 1170px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
}
.col-md-3{
    width: 33%;
    margin: 15px;
    padding: -15px;
}
.col-md-6{
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.col-md-6>ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
li { display: flex;
    height: 30px;
    padding-left: 8px;
    padding-right: 11px;
}
.col-md-6>ul>li:first-child{
    border: 1px solid #39a492;
    border-radius: 5px;

}
.col-md-6>ul>li:first-child>a{
    color: #39a492;
}
a{  align-self: center;
    text-decoration: none;
    color: #ad9c9b;
  
    font-size: 14px;
}

li:hover {
    border: 1px solid #ad9c9b;
    border-radius: 5px;
}
.col-md-3{
    display: flex;
    margin: 0;
   
  
}
.searchingWindow{ width: 195px;
     height: 30px;
    border: 2px solid #ad9c9b;
    border-radius: 5px;
    display: flex; 
    align-self: center;
   
    
}
form>input{
    background-color: #1d2126;
    border: none;
}
button{
    background-color: #1d2126;
    display: flex;
    border: none;
    
}
button>img{
    display: flex;
    align-self: center;
}
.background{margin-top: 0;
    background-image: url(img\ \(2\).png);
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
}
.col-md-12{display: flex;
    width: 1170px;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    color: #ffe5e5;
   
}
.col-md-whole{
    margin: auto;
    padding: -15px;
    width: 1170px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.col-md-12>form>input{
   background-color: rgba(57, 164, 147, 0 );
   border: 1px solid #ffe5e5;
   border-radius: 5px;
   margin-right: 10px;
   width: 125px;
   height: 44px;
   font-size: 14px;
   text-align: center;
   color: #ffe5e5;
}
.col-md-12>form>input:hover{
    background-color: rgba(57, 164, 147, 1);
    border-color: rgba(57, 164, 147, 1);
    
}
.container2{
    display: flex;
    flex-direction: row;
}
.col-md-7{
    display: flex ;
    flex-direction: column;
    justify-content: start;
    
}
.col-md-7>form>img{
    background-color: #c8cdd0 ;
}
.ol{
    display: flex;
    flex-direction: row;
}
.col-md-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.number{ 
    width: 67px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.number>h3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(57, 164, 147, 1);
    background-color: rgba(57, 164, 147, 1);
    color: white;
}
.list{ 
    width: 404px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list>p{
    color: #8d8f92;
}
/* @media(min-width: 900px){
    header{
        height: 300px;
        
    }
    .container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .col-md-3:first-child{
        display: flex;
        justify-content: flex-end;
    }

    .col-md-6{
        
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        
    }
    .col-md-3:last-child{
        width: 0;
    }
    .col-md-6>ul{
        flex-direction: column;
    }
    .searchingWindow{
        opacity: 0;
    }
    .container2{
        flex-direction: column;
        justify-content: space-between;
        width: 500px;
    }
    .number {
        height: 300px;
    }
    .list{
        height: 300px;
       
    }
    .list>h3{
        margin: 5px;
    }
    
} */
.team-members{
    display: flex;
}
.member{
    margin: 15px;
    background-color: rgba(29,33,38,0.1);
    text-align: start;
    
}
.member>h3, span{
    padding: 5px;
}
.member>div>img{
    width: 100%;
}
.member>h3{
    margin: 0;
}
.hidden{
    position: relative;
    bottom: 170px;
    left: 40px;
    display: none;
}

.hidden>a>img{
    background-color:#1d2126 ;
    margin: 1px;
    width: 50px;
    height: 50px;
    border: 1px solid #1d2126;
}
.member:hover .member>div>img{
    opacity: 0.33;

}
span{
    color: gray;
}
.member:hover .hidden{
    display: flex;
}
.member:hover {
    background-color: rgba(29,33,38,1);
    color: white;
}
.col-md-whole:nth-child(4){
    width: 100%;
    background-color: #3a454d;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
    
}
.col-md-whole:nth-child(4)>h1{
    margin: auto;
    padding: -15px;
    width: 1170px;
    color: white;
}

.img-row{
    display: flex;
    justify-content: center;
}
.img-row>.img-block{
    display: flex;
    width: 360px;
    height: 265px;
    padding: auto;
    margin: 30px;
    justify-content: space-between;
}
.img-row>.img-block>a{
    width: 100%;
    height: 100%;
    z-index: 4;
}
.img-row>.img-block>a>img{
    width: 100%;
    height: 100%;
    
}
.img-row>.img-block>a>h3{
    position: relative;
    bottom: 120px ;
    margin: 0;
    height: 60px;
    background-color: #1d2126 ;
    display: none;

}
.img-row>.img-block>a>h1{
    font-size: 50px;
    font-weight: bolder;
    color: white;
    position: relative;
    bottom: 200px;
    text-align: center;
    margin: 0;
    display: none;
   
    
}



 .img-row>.img-block>a>img:hover.img-row>.img-block>a>img{
    height: 205px;
}
.img-row>.img-block>a>img:hover .img-row>.img-block>a>h3{
    display: flex;
}
.img-row>.img-block>a>img:hover .img-row>.img-block>a>h1{
    display: flex;
} 
.col-md-whole>form{
    display: flex;
    justify-content: center;

}
.col-md-whole>form>input{
    background-color: rgba(57, 164, 147, 0 );
   border: 1px solid #ffe5e5;
   border-radius: 5px;
   margin-right: 10px;
   width: 125px;
   height: 44px;
   font-size: 14px;
   text-align: center;
   color: #ffe5e5;
}
.col-md-whole>form>input:hover{
    background-color: rgba(57, 164, 147, 1);
    border-color: rgba(57, 164, 147, 1);
    
}
.col-md-whole:nth-child(5)>.container{
    display: flex;
    justify-content: center;
    height: 600px;
}
.col-md-whole:nth-child(5)>.container>.col-md-3{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: -15px;
    height: 600px;
    justify-content: center;
    
    
}
.col-md-whole:nth-child(5)>.container>.col-md-3>div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: auto;
    height: 100%;
  
}
.col-md-whole:nth-child(5)>.container>.col-md-3>div>img{
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding: auto;
    width: fit-content;

}
.col-md-whole:nth-child(5)>.container>.col-md-3>div>h3{
    justify-content: center;
    padding: auto ;
    margin: 5px auto;
}
.col-md-whole:nth-child(5)>.container>.col-md-3>div>p{
    justify-content: space-around;
    padding: 5px auto;
    
}
.col-md-whole:nth-child(6){
    background-color: #3a454d;
    width: 100%;
    height: 730px;
    margin-top: 50px;
}
.col-md-whole:nth-child(6)>.container{
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    flex-direction: column;
    height: 100%;
    color: white;
}
.col-md-whole:nth-child(6)>.container>.features{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.col-md-whole:nth-child(6)>.container>.features>.col-md-4{
    width: 33%;
    margin: 15px;
}
.col-md-whole:nth-child(6)>.container>.features>.col-md-4>p{
    color: #b1b6ba;
}
.col-md-whole:nth-child(7){
    width: 100%;
    display: flex;
    justify-content: center;
}
.col-md-whole:nth-child(7)>div>h1{
    display: flex;
    padding: auto;
    width: 1170px;
    margin: auto;
    justify-content: flex-start;
    
}
.col-md-whole:nth-child(7)>img{
    margin-top: 50px;
}
.col-md-whole:nth-child(8){
    width: 100%;
    height: 360px;
}
.col-md-whole:nth-child(8)>.container{
    width: 1170px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.col-md-whole:nth-child(8)>.container>.col-md-6{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
    
   
}
.col-md-whole:nth-child(8)>.container>.col-md-6{
    display: flex;
    justify-content: flex-start;
}
.col-md-whole:nth-child(8)>.container>.col-md-6:first-child>h3{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}